body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    color: #ff5716;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50pt;
}

h2 {
    font-size: 15pt;
}

/*################
  ##### MENU #####
  ################*/

.menu-item {
    cursor: pointer;
    text-decoration: none !important;
    color: grey;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding: 5px 10px;
    width: 100%;
    display: block;
}

.menu-item-li {
    display: inline-block;
    margin-left: 15px;
    padding: 0;
    border: 1px solid transparent;
}

.menu-item:hover {
    color: #E61D42;
}

.logo img {
    width: 100%;
}

.banner {
    padding-top: 175px;
    padding-bottom: 145px;
    margin-bottom: 100px;
}


/*##################
  ##### FORMS ######
  ##################*/

.filter_button.active {
    font-weight: bold;
    background-color: #ff5716;
    color: white;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"] {
    padding: 13px;
    border-radius: 3px;
    border: none;
}

h1.filter_title {
    text-align: center;

}

/*##################
  ##### SEARCH #####
  ##################*/

.search-field {
    width: 100%;
}

.filter_button {
    border: 1px;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 20px;
}

.search-field.active {
    background-color: #ff5716;
    color: white;
}

button {
    padding: 10px;
    text-align: center;
    width: 220px;
    border: 1px solid #ff5716;
    cursor: pointer;
    margin-bottom: 15px;
}

button.media_link {
    background-color: white;
    color: #ff5716;
}

button.download {
    background-color: #ff5716;
    color: white;
}
