<div class="banner full-container" style="background-image: url('https://i.ytimg.com/vi/FuPY5EzIzeA/maxresdefault.jpg');background-repeat: no-repeat; background-size: cover;">
    {% block innerBanner %}

    {% endblock %}
</div>
