{% extends 'banner.twig' %}

{% block innerBanner %}
    <div class="filter">
        <form action="{{ uri }}" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                    </div>
                    <div class="col-7">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">

                    </div>
                    <div class="col-7">
                        <h2>{{ subTitle }}</h2>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
