{% extends 'banner.twig' %}

{% block innerBanner %}
    <div class="filter">
        <form action="{{ uri }}" method="get">
            <div class="container">
                <div class="row">
                    <h1 class="filter_title">{{ title }}</h1>
                </div>
                <div class="row">
                    <input id="song_search_bar" class="search-field" type="text" name="{{ name }}[search]"/>
                </div>
                {% if buttons|length == 1 %}
                    {% set class = 'col-12' %}
                {% elseif buttons|length == 2  %} {
                    {% set class = 'col-md-12 col-xs-12 col-lg-6' %}
                {% else %}
                    {% set class = 'col-md-6 col-xs-12 col-lg-4' %}
                {% endif %}
                <div class="row">
                    {% for button_name, display in buttons %}
                        <div class="{{ class }}">
                            <div class="filter_button" data-button-name="{{ button_name }}">{{ display }}</div>
                            <input id="input_{{ button_name }}" class="song_resource" type="checkbox" name="{{ button_name }}" data-button-name="{{ button_name }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <script>
        setTimeout(function () {
            search.init('song_search_bar', 'song_resource', '{{ uri }}')
        }, 0);
    </script>
{% endblock %}
