<div class="gt-header">
    <div class="menu">
        <div class="container-full">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-8">
                    <div>
                        <a class="logo" href="{{ menu.base }}"><img src="{{ menu.logo }}"/></a>
                    </div>
                </div>
                <div class="col-xl-7 col-md-8 col-4">
                    <nav class="main-nav">
                        <ul>
                            {% for label, url in menu.main_links %}
                                <li class="menu-item-li">
                                    <a class="menu-item" href="{{ url }}">{{ label }}</a>
                                </li>
                            {% endfor %}
                            <li class="menu-item-li">
                                <a class="menu-item menu-item-donate" href="{{ menu.donate.url }}">{{ menu.donate.label }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
